name: HAMQTT Integration Workflow

on:
  workflow_call:
    inputs:
      name:
        required: true
        type: string
        description: "The name of the integration (e.g., my-integration)"
      directory:
        required: true
        type: string
        description: "Path to the integration directory (e.g., ./HAMQTT.Integration.Name/"
      portainer_webhook:
        required: false
        type: string
        description: "Portainer webhook URL to trigger after successful build"
        
env:
  REGISTRY: ghcr.io
  IMAGE_NAME: ${{ github.repository }}/${{ inputs.name }}

jobs:
  build-and-push:
    name: Build and Push Docker Image
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write

    steps:
      - name: Convert image name to lowercase
        run: echo "IMAGE_NAME=$(echo ${{ env.IMAGE_NAME }} | tr '[:upper:]' '[:lower:]')" >> $GITHUB_ENV
        
      - name: Checkout repository
        uses: actions/checkout@v6

      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3
        with:
          driver-opts: |
            image=moby/buildkit:latest
            network=host

      - name: Log in to the Container registry
        uses: docker/login-action@v3
        with:
          registry: ${{ env.REGISTRY }}
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Extract metadata (tags, labels) for Docker
        id: meta
        uses: docker/metadata-action@v5
        with:
          images: ${{ env.REGISTRY }}/${{ env.IMAGE_NAME }}
          tags: |
            type=raw,value=latest,enable={{is_default_branch}}
            type=ref,event=branch
            type=ref,event=tag
            type=sha,format=short

      - name: Build and push Docker image
        uses: docker/build-push-action@v6
        with:
          context: ${{ inputs.directory }}
          platforms: linux/amd64,linux/arm64
          network: host
          push: true
          tags: ${{ steps.meta.outputs.tags }}
          labels: ${{ steps.meta.outputs.labels }}
          cache-from: type=gha
          cache-to: type=gha,mode=min
          build-args: |
            GITHUB_USERNAME=${{ github.actor }}
            GITHUB_PAT=${{ secrets.GITHUB_TOKEN }}
            

      - name: Trigger Portainer Webhook
        if: ${{ inputs.portainer_webhook != '' }}
        run: |
          curl -X POST "${{ inputs.portainer_webhook }}"
